.container{
    width: 90%;
    margin: 0px auto;
}

tbody tr{
    cursor: pointer;
    transition: 0.3s;
}

tbody tr:hover{
    background-color: #ccf0ff;
}

.add-btn{
    width: 150px;
}
.parent-cont{
    position: relative;
}
.content{
    width: 300px;
    height: 150px;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 5px 0px #d2d2d2;
    border-radius: 20px;
    display: block;
    font-size: 13px;
    padding: 5px;
    top: 3rem;
    right: 3rem;
}
.hide-content{
    display: none;
}
